@model BloodBanK.Models.User

@{
    ViewData["Title"] = "Login";
}

<div class="row">
    <div class="col-4">
        <h3 class="text-danger">Online BloodBank</h3>
        <h4 style="color:darkblue">Login and Donate Blood</h4>
        <form asp-action="Login" class="" style="margin-top:100px">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group mt-4">
                <input type="submit" value="Login" class="btn btn-primary" />
                <a class="btn btn-primary " href="~/Accounts/Signup" >Sign Up</a>
            </div>
        </form>
    </div>
    <div class="col-6">
        <img src="~/images/first.jpg" alt="login image" width="700px" height="1400px" class="offset-3 img-fluid mt-2"/>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}