@model BloodBanK.Models.BloodReq

@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>

<h4>BloodReq</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ReqId" />
            <div class="form-group">
                <label asp-for="PatientName" class="control-label"></label>
                <input asp-for="PatientName" class="form-control" />
                <span asp-validation-for="PatientName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatientPhoneNo" class="control-label"></label>
                <input asp-for="PatientPhoneNo" class="form-control" />
                <span asp-validation-for="PatientPhoneNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BloodGroup" class="control-label"></label>
                 @Html.DropDownListFor(model=>model.BloodGroup,new SelectList(ViewBag.list),"----Select Your Blood Group----",htmlAttributes:new{@class="form-control"})
                <span asp-validation-for="BloodGroup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="HospitalName" class="control-label">Hospital Name</label>
                 @Html.DropDownListFor(model=>model.HospitalName,new SelectList(ViewBag.hospitals),"----Select Your Hospital----",htmlAttributes:new{@class="form-control"})
                <span for="HospitalName" class="text-danger"></span>
            </div>
            <span id="search">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16"> <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/> </svg>
            </span>
            <div class="form-group">
                <label asp-for="SlotId" class="control-label"></label>
                 @Html.DropDownListFor(model=>model.BloodGroup,new SelectList(ViewBag.list),"----Select Your Blood Group----",htmlAttributes:new{@class="form-control"})
                <span asp-validation-for="BloodGroup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
         $("#search").click( () => {
 
        $.ajax({
            type: "POST",
            url: "@Url.Action("Add")",
            data: {HospitalName:@Model.HospitalName},
            dataType: "text",
            success: function (msg) {
                console.log(msg);
            },
            error: function (req, status, error) {
                console.log(msg);
            }
        }); 
    });
    </script>
}
@{
    try
    {
        if(TempData["AddMsg"] !=null)
        {
            if(TempData["AddMsg"] == "1")
            {
                <script>
                swal("Good job!", "Data Inserted Sucecssfully!", "success");
                </script>
            }
            else
            {
                <script>
                swal("Error Found!", "Unable to Insert Data!", "error");
                </script>
            }
        }
    }
    catch
    {
        
    }
}

